<style type="text/css">
    * {
        margin: 0px;
        padding: 0px;outline: none;
    }

    a:link {
        color: #FFF;
    }

    a:visited {
        color: #FFF;
    }

    a:hover {
        color: #000;
    }

    a:active {
        color: #000;
    }
    body {
        background: url('back.jpg');
    }

    form.header {
        width: 250px;
        background:  -moz-linear-gradient(19% 75% 90deg,  #717171, #000000);
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#717171));
        -moz-box-shadow:0px -5px 300px #000000;
        -webkit-box-shadow:0px -5px 300px #000000;
    }
    
    form {
        width: 250px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        color: #fff;
        background:  -moz-linear-gradient(19% 75% 90deg,#000000, #717171);
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#717171), to(#000000));
        margin:50px auto;
        vertical-align:middle;
        padding: 20px;
        -moz-box-shadow:0px -5px 300px #000000;
        -webkit-box-shadow:0px -5px 300px #000000;
    }
    
    form.main {
        width: 300px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        color: #fff;
        background:  -moz-linear-gradient(19% 75% 90deg,#000000, #717171);
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#717171), to(#000000));
        margin:50px auto;
        vertical-align:middle;
        padding: 20px;
        -moz-box-shadow:0px -5px 300px #000000;
        -webkit-box-shadow:0px -5px 300px #000000;
    }
    
    label {
        font-size: 12px;
        font-family: arial, sans-serif;
        list-style-type: none;
        color: #fff;
        text-shadow: #000 1px 1px;
        margin-bottom: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
    }

    input {
      -webkit-transition-property: -webkit-box-shadow, background;
      -webkit-transition-duration: 0.25s;
        padding: 6px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        border-top: 1px solid #717171;
        -moz-box-shadow: 0px 0px 2px #000;
        -webkit-box-shadow: 0px 0px 2px #000;
        margin-bottom: 10px;
        background: #717171;
        width: 230px;
    }   
 
    input.submit {
      -webkit-transition-property: -webkit-box-shadow, background;
      -webkit-transition-duration: 0.25s;
        width: 100px;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#717171), to(#000000));   
        background:  -moz-linear-gradient(19% 75% 90deg,#000000, #717171);
        color: #fff;
        text-transform: uppercase;
        text-shadow: #000 1px 1px;
        border-top: 1px solid #717171;
        margin-top: 10px;
    }

    input.submit:hover {
        -webkit-box-shadow: 0px 0px 2px #000;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#717171), to(#000000));
        background:  -moz-linear-gradient(19% 75% 90deg,#000000, #717171);
    } 

    input.submit:active {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#717171));
        background:  -moz-linear-gradient(19% 75% 90deg,#717171, #000000);
    }

    input:hover {
        -webkit-box-shadow: 0px 0px 4px #000;
        background: #717171;
    }
</style> 
